<html>

<head>
    <title>Image Scraper</title>
</head>


<body>
    <h1> Images:</h1>
    <% for(var i=0; i<result.images.length; i++) {%>

        <img src=<%=result.images[i]%>>
        <% } %>
</body>

</html>