
h2 saveImages
form(action = '/saveImages',method='post')
    | text :
    input(type='text',name='text')
    br
    input(type='submit',value='submit')
    hr
    hr



h2 getImagesById
form(action='/getImagesById', method='get')
    | id :
    input(type='text', name='id')

    input(type='submit',value='submit')
    br
    hr
    hr